[Unit]
Description=A rule based proxy tunnel
After=network-online.target nftables.service iptabels.service NetworkManager.service

[Service]
Type=simple
ExecStart=/usr/bin/bypass-proxy /usr/bin/clash -d /srv/clash

[Install]
WantedBy=multi-user.target
