[Unit]
Description=A rule based proxy tunnel (with subscribe)
After=network-online.target nftables.service iptabels.service

[Service]
Type=simple
WorkingDirectory=/srv/clash
ExecStartPre=+/usr/lib/clash/setup-cgroup.sh
# ExecStart=/usr/bin/bypass-proxy /usr/bin/clash -d /srv/clash
ExecStart=/srv/clash/start-clash.sh
ExecStop=/srv/clash/stop-clash.sh
Environment="CLASH_HOME=/srv/clash"

Environment="CLASH_URL=http://127.0.0.1:8080/sub" 
# http://127.0.0.1:8080/sub is your subscribe address. 
# note that subscribe address shouldn't have "&" symbol, 
# if it have, you should convert it to a short url

[Install]
WantedBy=multi-user.target
